:root {
  --primary: oklch(0.6397 0.1720 36.4421);
  --primary-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.6397 0.1720 36.4421);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --ring: oklch(0.6397 0.1720 36.4421);
  --sidebar-ring: oklch(0.6397 0.1720 36.4421);
}
