:root {
  --primary: oklch(0.5778 0.1490 145.7366);
  --primary-foreground: oklch(1.0000 0 0);
  --primary-dark: oklch(0.4778 0.1490 145.7366);
  --primary-darker: oklch(0.3778 0.1490 145.7366);
  --sidebar-primary: oklch(0.5778 0.1490 145.7366);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --ring: oklch(0.5778 0.1490 145.7366);
  --sidebar-ring: oklch(0.5778 0.1490 145.7366);
}
